/* Responsive CSS */
.ti{
    font-size: 1.2rem !important;
}

.icon-column i {
    font-size: 1.2rem !important; 
}


@media(min-width: 1400px) {
    .container,
    .container-lg,
    .container-xl,
    .container-xxl,
    .container-md,
    .container-sm {
        max-width: 100%x;
    }
}